<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/content.ejs%>
</head>

<body>

<% include partials/header.ejs%>


<!-- Insert Body here -->
<div class="container">

  <div class="starter-template">
      <%- body %>
  </div>

</div><!-- /.container -->

<% include partials/footer.ejs%>

</body>
</html>