<!--@Assignment1-->
<!--Tiffany Raill 200264388-->
<!--http://tiffany-raill-portfolio.azurewebsites.net/-->
<!--this is the footer for my Portfolio-->
<footer class="navbar-fixed-bottom">
  &copy; 2017 - Tiffany Raill & co.
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</body>
</html>