<!--/*@Assignment1-->
<!--Tiffany Raill 200264388-->
<!--http://tiffany-raill-portfolio.azurewebsites.net/-->
<!--this is the header for my Portfolio-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="myNavbar">
  <ul class="nav navbar-nav navbar-right" id="navbarTitle">
    <li><a href="#">Tiffany T. Raill</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-left" id="navLinks" >
    <li><a href="/" class="navbar-brand fa fa-home"> Home</a></li>
    <li><a href="/Projects" class="fa fa-university"> Projects</a></li>
    <li><a href="/Services" class="fa fa-cogs"> Services</a></li>
    <li><a href="/contactMe" class="fa fa-phone"> Contact Me</a></li>
    <li><a href="/aboutMe" class="fa fa-user-circle-o"> About Me</a></li>
  </ul>
</nav>
