<% include ./partials/header.ejs %>
<div class="jumbotron">
    <body style="background-color:black;">
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= message %></p>
    </div>
  </body>
</div>

<% include ./partials/footer.ejs %>