<!--@Assignment1-->
<!--Tiffany Raill 200264388-->
<!--http://tiffany-raill-portfolio.azurewebsites.net/-->
<!--this is the About me Page for my Portfolio-->

<% include ./partials/header.ejs %>
<div class="main-wrapper" id="papers" >
  <div class="container text-center">
  <h1 class="papersTitle text-left">Academic Research Papers</h1>
    <!--<p><strong>Networking by Day Programmer by Night</strong></p>-->
  <!--<p><strong>Wife & Mother 24/7</strong></p>-->
  <!--<br>-->
  </div>
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<img src="images/theGirls.png" class="img-circle person" alt="the Girls" width="255" height="255">-->
      <!--<p>The Girls</p><br>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<img src="images/GEMMA.png" class="img-circle person" alt="me and Gemma" width="255" height="255">-->
      <!--<p>Me</p><br>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<img src="images/theGuys.png" class="img-circle person" alt="the Boys" width="255" height="255">-->
      <!--<p>The Boys</p><br>-->
    <!--</div>-->
  <!--</div>-->
</div>
<% include ./partials/footer.ejs %>