<% include ./partials/header.ejs %>
<style>
    body {
        background-image: url("/stylesheets/image2.jpg");
        background-color: #000000;
        background-repeat: no-repeat;
    }
</style>
<!-- Jumbotron -->
<div class="jumbotron-projects">
<div class="container text-center">
    <h1>Projects</h1>
    </div>
</div>
<% include ./partials/footer.ejs %>