
<% include ./partials/header.ejs %>
<style>
    body {
        background-image: url("/stylesheets/image2.jpg");
        background-color: #000000;
        background-repeat: no-repeat;
    }
</style>
<!-- Jumbotron -->
<link rel=”stylesheet” href=”/stylesheets/style.css”>
<link rel="stylesheet" href="/stylesheets/PokemonGB/font.css">
    <div class="container text-center">
        <h1>Projects</h1>
    </div>

<style type="text/css">
    h1 {
        font-family: 'PokemonGB';
        font-size: 48px;
        color: white;
    }
</style>


<% include ./partials/footer.ejs %>