/*@Assignment1
 Tiffany Raill 200264388
 http://tiffany-raill-portfolio.azurewebsites.net/
 this is the css stylesheet for my Portfolio
 */
body {
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0f0f0f;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
}

#homePage{
  background: url(Winnipeg2.png) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}
.homePageTitle{
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 80px;
}
#homePage div {
  padding: 150px;
  display: block;
  margin: 0 auto;
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
}
#projects{
  background: url(keyboard.png) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
}
.carousel-caption {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-radius: 200px;
  color:#fff;
  overflow: hidden;
  background:#000;
}
#CarouselTitles {
  vertical-align: text-bottom;
}

.item {
  border: 10px solid transparent;
  opacity: 0.7;
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;

}
#aboutMe{
  background: url(beautiful.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}

.aboutMeTitle{
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 80px;
}
#aboutMe div  {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
  text-shadow: 3px 2px crimson;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 70%;
}

.person:hover {
  border-color: #f1f1f1;
}
