/*@Assignment1
 Tiffany Raill 200264388
 http://tiffany-raill-portfolio.azurewebsites.net/
 this is the css stylesheet for my Portfolio
 */
#myNavbar {
  padding-right: 20px;
}

#navbarTitle {
  /*font-family:'Monsieur La Doulaise', cursive;*/
  font-family: "Times New Roman", Serif ;
  font-size: 18px;
}
.ul {
  font-family:'Grand Hotel', cursive;
  font-size: 18px;
}
body {
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0f0f0f;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
}

#homePage{
  background: url(Winnipeg2.png) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}
.homePageTitle{
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 80px;
  text-shadow: 3px 2px black;
}
#homePage div {
  padding: 150px;
  display: block;
  margin: 0 auto;
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
}
#projects{
  background: url(keyboard.png) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
}
.carousel-caption {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-radius: 200px;
  color:#fff;
  overflow: hidden;
  background:#000;
}
#CarouselTitles {
  vertical-align: text-bottom;
}

.item {
  border: 10px solid transparent;
  opacity: 0.7;
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;

}
#servicesPage {
  background: url(appleService.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}
.servicesPageTitle{
  font-family: 'Grand Hotel', cursive;
  font-size: 80px;
}
#servicesPage div  {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 30px;
  text-shadow: 3px 2px ghostwhite;
}
.thumbnail {
  padding: 0 0 15px 0;
  border-radius: 0;
  background-color: #0f0f0f;
  border: 10px solid transparent;
  opacity: 0.7;
}

.thumbnail p {
  margin-top: 15px;
  color: black;
  font-size: 20px;
}
#aboutMe{
  background: url(beautiful.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}

.aboutMeTitle{
  font-family: 'Grand Hotel', cursive;
  color: whitesmoke;
  font-size: 80px;
}
#aboutMe div  {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-size: 45px;
  text-shadow: 3px 2px #555555;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 70%;
}

.person:hover {
  border-color: #f1f1f1;
}
#contactMe{
  background: url(vintagePhone.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}
.contactMeTitle {
  padding: 50px;
  font-family: 'Grand Hotel', cursive;
  color: whitesmoke;
  font-size: 80px;
}
#contactMe div  {
  text-align: center;
  /*display: block;*/
  /*margin: 0 auto;*/
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-size: 20px;
  text-shadow: 2px 2px #555555;
}
#socialMedia {
  margin: 0 auto;
}
.linksTitle {
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-size: 20px;
}
#papers {
  background: url(typewriter.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}
.papersTitle {
  padding: 50px;
  font-family: 'Grand Hotel', cursive;
  color: whitesmoke;
  font-size: 80px;
  text-shadow: 2px 2px black;
}
#addPaperLink{
  font-family: 'Grand Hotel', cursive;
  color: red;
  font-size: 20px;
  text-shadow: 2px 2px #555555;
}
table {
  opacity: 0.9;
  border-collapse: collapse;
  width: 100%;

}

th, td {
  padding: 5px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #ddd;
  background-color: antiquewhite;
  color: black;
}

tr:hover{background-color:white}

#addPaper {
  background: url(typewriter.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
  /*text-align: left;*/
  /*display: block;*/
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: ghostwhite;
  font-size: 25px;
  text-shadow: 2px 2px black;
  padding-left: 100px;
}
#addPaper h1{
  font-family: 'Grand Hotel', cursive;
  color: black;
  font-size: 60px;
  text-shadow: 2px 2px ghostwhite;
  padding-top: 30px;
}
#title, #course, #description {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: black;
  width: 300px;
}
#editPaper {
  background: url(typewriter.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
  /*text-align: left;*/
  /*display: block;*/
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: ghostwhite;
  font-size: 25px;
  text-shadow: 2px 2px black;
  padding-left: 100px;
}
#editPaper h1{
  font-family: 'Grand Hotel', cursive;
  color: black;
  font-size: 60px;
  text-shadow: 2px 2px ghostwhite;
  padding-top: 30px;
}
#title, #course, #description {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: black;
  width: 300px;
}