/*@Assignment1
 Tiffany Raill 200264388
 http://tiffany-raill-portfolio.azurewebsites.net/
 this is the css stylesheet for my Portfolio
 */
body {
  padding-top: 50px;
  font-family:  'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*h1 {*/
  /*font-family:  'Grand Hotel', cursive;*/
  /*color: white;*/
/*}*/
.main-wrapper {
  width: 100vw;
  height: 100%;
}
#projects{
  background: url(keyboard.png) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}
.carousel-caption {
  width:300px;
  height:300px;
  border-radius:300px;
  color:#fff;
  margin: auto;
  background:#000;
  margin-top: 200px;
}

.aboutMeTitle{
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 60px;
}
#aboutMe{
  background: url(image3.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: black;
}

#aboutMe div  {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 70%;
}

p {
  font-family: 'Grand Hotel', cursive;
  color: ghostwhite;
  font-size: 40px;
}
.person:hover {
  border-color: #f1f1f1;
}
.item {
  border: 10px solid transparent;
  opacity: 0.7;
  width: 70%;
  height: 70%;
  /*display: block;*/
  margin: 0 auto;
}